@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
}

.container {
    display: none;
}

.watch {
    position: absolute;
    height: 35vh;
    right: 0vh;
    bottom: 0vh;
}

.watch-screen {
    position: absolute;
    right: 25.85vh;
    bottom: 9vh;
    height: 18.5vh;
    width: 14.5vh;
    background: rgba(255, 255, 255, 0);
    border-radius: 2vh;
}

.main-screen {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}
